.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 2em;
}

/*Variables */
:root {
  --main-color1: #0B1F65;
  --main-color2: #16488F;
  --main-color3: #0C2144;
  --main-color4: #071125;


}


.nav a {
  color: white;
  text-decoration: none;
}

/* Search*/
body {
  background-image: linear-gradient(to right, #cb2d3e, --main-color1);
}
/* Sign up */
/* .signUp{
background-image: url("../public/Images/Coco_dominates_Chinese_box_office_.jpeg");

} */

.searchBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;

}

.searchBox:hover>.searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover>.searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

@media screen and (max-width: 620px) {
  .searchBox:hover>.searchInput {
    width: 150px;
    padding: 0 6px;
  }
}

/* Gallery */
.container {
  background: #141414;
  color: #ffffff;

}

.movie-app >.row {
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
 
}

.container {
  position: relative;
  transition: transform 0.2s;
}

.container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.container:hover .overlay {
  opacity: 1;
}



.container {
  background-color: var(--main-color1);
}

.image_container {
  display: inline;
  position: relative;
  transition: transform 0.2s;
  flex: 0 0 auto
}

.image_container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image_container:hover .overlay {
  opacity: 1;
}

.movie_image {
  height: 300px;
  width: 200px;
}

/* sign up page */
.signup_page {
  background-color: var(--main-color1);

}

/* Rating */
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #000;
}

.off {
  color: #ccc;
}

